
html, body {
	height: 100%;
}

body{
	min-width: 1000px;
	width: auto !important;
	width: 1000px;
}

.main {
	height: 100%;
	display: flex;
	margin: 0 30px;
}

.pan-out {
	width: 50%;
	height: 100%;
	display: table;
}

.pan-mid {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.pan-in {
	width: 280px;
	margin: 0 auto;
}

.value {
	font-family: Oxygen, sans-serif;
	font-size: 70px;
	font-weight: bold;

}

.type {
	font-family: Oxygen, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.fullheight {
	height: 100%;
	width: 100%;
	display: table;
}

.vcenter {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
