
html, body {
	height: 100%;
}

body{
	min-width: 800px;
	width: auto !important;
}

.main {
	height: 100%;
	display: flex;
	margin: 0 30px;
}

.pan-out {
	width: 50%;
	height: 100%;
	display: table;
}

.pan-mid {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.pan-in {
	width: 280px;
	margin: 0 auto;
}

.value {
	font-family: 'Oxygen', sans-serif;
	font-size: 5vmax;
	height: 8vmax;
	font-weight: bold;
	transition: all 250ms ease;
}

.type {
	font-family: Oxygen, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.fullheight {
	height: 100%;
	width: 100%;
	display: table;
}

.fullwidth {
	width: 100%;
	display: table;
}

.charts {
	padding: 35px;
}

.vcenter {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.rickshaw_graph {
	min-height: 200px;
}